extends layout

block content
    h2.page-header.post-view-title= post.title 
    div.post.post-view
        div.post-meta
            span.post-created
                i.fa.fa-calendar-minus-o &nbsp;
                =moment(post.created).format('YYYY-MM-DD')
            span.post-author
                i.fa.fa-user-o &nbsp;
                =post.author.name
            span.post-category
                i.fa.fa-columns &nbsp;
                a(href="/posts/category/"+post.category.title,target="_blank")
                    =post.category.title
            span.post-comment &nbsp;
                i.fa.fa-commenting-o &nbsp;
                =post.comment.length||0
            span.post-favorite &nbsp;
                a(href="/posts/favorite/"+post.slug)
                    i.fa.fa-thumbs-o-up &nbsp;
                    =post.meta.favourates||0 	
        div.post-content
            !=post.content		
        div.post-comments
            h3 用户评论
            div.post-comment-list
                if post.comment.length
                    each comment in post.comment
                        div.post-comment-item
                            h4.post-comment-email
                            = comment.email
                            p.post-comment-content
                            = comment.content
                            
                else
                    p.alert.alert-info 还没有评论	
            form.post-comment-form(action="/posts/comment/"+post.slug,method="post",enctype="application/x-www-form-urlencoded")
                div.form-group
                    label(for="content") 内容
                    textarea.form-control(type="text",name="text",placeholder="请输入评论")
                button.btn.btn-primary 评论					