/*
 * Globals
 */

body {
	color: #555;
  background: #EBEBEB;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin-top: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}


/*
 * Masthead for nav
 */
.blog-backgorund{
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size:100% 145%;
  width: 100%;
  height: 222px;
  position: relative;
}
.blog-backgorund #logo{
	position: absolute;
	width: 150px;
	height: 70px;
	left: calc(50% - 75px);
	top: calc(50% - 35px);
}
.blog-masthead {
	margin-bottom: 20px;
  background: #fff;
}


/* Nav links */

.blog-nav-item {
	position: relative;
	display: inline-block;
	font-size: 14px;
  text-align: center;
	color: #505050;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}

.blog-nav-item:hover{
  color: #8CC84B;
  text-decoration: none;
}
.blog-nav-item:focus,
.blog-nav-item.active {
  border-bottom: 3px solid #8CC84B;
}


/* Active state gets a caret at the bottom */

.blog-nav .active {
}

/*
 * Blog name and description
 */

.blog-header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.blog-title {
	margin-top: 30px;
	margin-bottom: 0;
	font-size: 60px;
	font-weight: normal;
}

.blog-description {
	font-size: 20px;
	color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
	font-size: 18px;
	line-height: 1.5;
}

/* Sidebar modules for boxing content */

.sidebar-module {
	padding: 15px;
	margin: 0 -15px 15px;
  background: #fff;
}
.sidebar-module div{
  border-bottom: 2px solid #EBEBEB;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.sidebar-module div#user{
	border-bottom: 2px solid #8CC84B;
}
.sidebar-module span{
	display: inline-block;
	border-bottom: 2px solid #8CC84B;
	padding: 0 8px;
	height: 40px;
    line-height: 40px;
}
.sidebar-module ol{
  margin-top: 10px;
}
.sidebar-module ol li{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.sidebar-module a{
	color: #8CC84B;
}
.sidebar-module-inset {
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}


/* Pagination */

.pager {
	margin-bottom: 60px;
	text-align: left;
}

.pager>li>a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px;
}
nav {
	display: flex;
	justify-content: center;
}
.pagination li a{
	color: #8CC84B !important;
}
.pagination > .active > a{
	background: #8CC84B !important;
	border-color: #8CC84B !important;
	color: #fff !important;
}
/*
 * Blog posts
 */

.post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: #fff;
  width: 100%;
}
.post-title{
  text-align: center;
  height: 80px;
  line-height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}
.post-title a{
  color: #303030;
  font-size: 28px !important;
}

.post-abstract {
	padding:20px 20px 20px 20px;
}
.post-abstract img{
	width: 100%;
} 
.post-link{
	background: #8CC84B;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding: 0 5px;
	border-radius: 4px;
	margin-left: 20px;
}
.post-link a{
	font-size: 15px;
	color: #fff;
}
.post-meta {
	font-size: 0.75em;
  text-align: center;
  margin-bottom: 10px;
}

.post-meta>span {
	display: inline-block;
	margin: 0 10px;
}

.post-meta>span:first-of-type {
	margin-left: 0;
}

.post-meta>span:last-of-type {
	margin-right: 0;
}

.post-view .post-meta {
	margin-top: 20px;
}
.post-category,.post-category a,.post-favorite a{
	color: #8CC84B;
}
.post-view .post-content {
  text-indent: 2em;
  text-align: justify;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.post-view-title {
  padding-top: 20px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}

.post-comments,
.post-comment-form {
	margin-bottom: 30px;
  background: #fff;
  border-radius: 3px;
  padding-bottom: 10px;
}
.post-comments .comment-none{
	height: 50px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	font-size: 14px;
}
.user-img img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-right: 10px;
}
.fa-hand-o-down{
	margin-right: 10px;
}
.form-group div.title,.post-comments div.title{
  padding-left: 10px;
  height: 40px;
  border-bottom: 1px solid #EBEDEF;
  line-height: 40px;
}
span.post-comment-email{
	font-size: 13px;
}
.post-comment-content{
	font-size: 14px;
	margin-top: 10px;
}
.post-comment-form label,.post-comments div.title{
  font-size: 16px !important;
  font-weight: 400;
}
.post-comment-form textarea{
  width: 90%;
  height: 80px;
  margin-left:5%;
}

.post-comment-form button{
  position: relative;
  left: 87%;
}
.post-comments .post-comment-item {
	border-bottom: 1px solid #EBEDEF;
	padding: 2px 5px 2px 20px;
}


/*
 * Footer
 */

.blog-footer {
	margin-top: 20px;
	padding: 40px 0;
	color: #999;
	text-align: center;
	border-top: 1px solid #e5e5e5;
  background: #fff;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}
