extends ../layout

append css
    link(rel="stylesheet",href='/css/manager.css')
    link(rel='stylesheet',href='/components/font-awesome/css/font-awesome.css')    	

block main
    block header
        header
            .logo
                img(src='/img/logo.png')
                span 博客后台
            .userInfo
                img.user-img(src=''||'/img/timg.jpg')
                a(href="") 退出
    .contentWraper                
        block sideList
            ul.link-group   	
                li(class={active:pageName==="/admin/manager/users"})
                    a(href="/admin/manager/users")
                        i.fa.fa-user-o
                        | &nbsp; 普通用户
                li(class={active:pageName==="/admin/manager/managers"})
                    a(href="/admin/manager/managers")
                        i.fa.fa-user
                        | &nbsp; 管理员用户                                                               
                li(class={active:pageName==="/admin/manager/categories"})
                    a(href="/admin/manager/categories")
                        i.fa.fa-bookmark-o
                        | &nbsp; 分类管理            
                li(class={active:pageName==="/admin/manager/comments"})
                    a(href="/admin/manager/comments")
                        i.fa.fa-comments-o
                        | &nbsp; 评论管理            	
                li(class={active:pageName==="/admin/manager/blogs"})
                    a(href="/admin/manager/blogs")
                        i.fa.fa-file-code-o
                        | &nbsp; 博客管理            	
                li(class={active:pageName==="/admin/manager/chart"})
                    a(href="/admin/manager/chart")
                        i.fa.fa-area-chart
                        | &nbsp; 信息统计                                    
        block content
    block footer
        footer
            div 博客系统 v1.0
            div 探索Node.js技术，将js进行到底  	

append scripts
    script(type="text/javascript",src="/js/admin/manager.js")    	