extends ../layout_user

block content
    form.form-signin(method="post",action="/admin/users/login")

        h2.form-signin-heading 登陆

        label.sr-only(for="email") 邮箱
        input.email.form-control(name="email",type="email",placeholder="Email Address",required)
        label.sr-only(for="password") 密码
        input.password.form-control(name="password",type="password",placeholder="Password",required)
        span#goRegister.pull-right
                a(href="/admin/users/register") 前往注册
        button.btn.btn-lg.btn-primary.btn-block(type="submit") 登陆