extends ../layout_user

block content
    .registerContainer    
        form.form-signin.form-register(method="post",action="/admin/users/register")
    
            .input-group
                span.input-group-addon
                    i.fa.fa-envelope              
                input.email.form-control(name="email",type="email",placeholder="Email Address",required,    autofocus="")
            .input-group
                span.input-group-addon
                    i.fa.fa-key                        
                input.password.form-control(name="password",type="password",placeholder="Password",required)
            .input-group
                span.input-group-addon
                    i.fa.fa-key                                        
                input.confirm-password.form-control(name="confirmPassword",type="password",placeholder="Confirm Password",required)
            span#goLogin.pull-right
                i.fa.fa-hand-o-right
                a(href="/admin/users/login") 已有账号,去登陆		
            button.btn.btn-lg.btn-block(type="submit") 注册