extends ../layout_user
block content
    .userInfoContainer
        form.form-vertical(enctype="multipart/form-data")
            div.user-img
                img(src=user.img||'/img/timg.jpg')           
            div.form-group
                label(for='name') 点击头像进行上传
                input(type='file' name='img' id="imginput")
            button.btn.btn-primary(type='submit') 保存			