extends layout

block content
    each post in posts
        div.post
            h3.post-title
                a(href="/posts/view/"+post._id,target="_blank")
                    =post.title
            div.post-meta
                span.post-created
                    | 时间:
                    =moment(post.created).format('YYYY-MM-DD')
                span.post-author
                    | 作者:
                    =post.author.username
                span.post-category
                    | 分类:
                    a(href="/posts/category/"+post.category.title,target="_blank")
                        =post.category.title
                span.post-comment
                    | 评论:
                    =post.comment.length||0
                span.post-favorite
                    | 赞:
                    =post.meta.fabulous||0
            div.post-abstract
              =truncate(post.content, 160)
            div.post-link
                a(href="/posts/view/"+post._id,target="_blank")
                    |阅读全文             
    if pageCount>1
        nav
            ul.pagination
                -var currentPage=1
                while currentPage<=pageCount
                    if(currentPage==pageNum)
                        li.active
                            a(href="/posts?page="+currentPage)= currentPage++
                    else
                        li
                            a(href="/posts?page="+currentPage)= currentPage++
