extends ../layout

append css
	link(rel='stylesheet',href='/css/blog.css')
	link(rel='stylesheet',href='/components/font-awesome/css/font-awesome.css')
block main
	block header
		.blog-backgorund
			img#logo(src="/img/logo.png")
		.blog-masthead
			.container
				nav.blog-nav.pull-left
					if pageName==='/posts'
						a.blog-nav-item.active(href="/") 首页
					else
						a.blog-nav-item(href="/") 首页
					each category in categories
						if pageName==='/posts/category/'+category.title
							a.blog-nav-item.active(href="/posts/category/"+category.title)= category.title
						else
							a.blog-nav-item(href="/posts/category/"+category.title)= category.title	
	.container
		.row
			.col-sm-9.blog-main
				!=messages()
				block content
			.col-sm-3.blog-sidebar
				.sidebar-module
					div#user
						a(href="/admin/users/login") 用户模块
				.sidebar-module
					div
						span 友情链接
					ol.list-unstyled
						li
							a(href="https://github.com/xinqilela/nodeblock") github地址
						li
							a(href="https://cnodejs.org/") cnode社区	
	block footer
		footer.blog-footer
			p nodeblog by xinqilela.com
			p
				a(href="#") 回到顶部
