extends layout

block content
    div.post.post-view
        .post-view-title= post.title
        div.post-meta
            span.post-created
                i.fa.fa-calendar-minus-o &nbsp;
                =moment(post.created).format('YYYY-MM-DD')
            span.post-author
                i.fa.fa-user-o &nbsp;
                =post.author.username
            span.post-category
                i.fa.fa-columns &nbsp;
                a(href="/posts/category/"+post.category.title,target="_blank")
                    =post.category.title
            span.post-comment &nbsp;
                i.fa.fa-commenting-o &nbsp;
                =post.comment.length||0
            span.post-favorite &nbsp;
                a(href="/posts/favorite/"+post.slug)
                    i.fa.fa-thumbs-o-up &nbsp;
                    =post.meta.fabulous||0
        div.post-abstract
            !=post.content
    div.post-comments
        div.title 用户评论
        div.post-comment-list
            if post.comment.length
                each comment in post.comment
                    div.post-comment-item
                        h4.post-comment-email
                        = comment.email
                        p.post-comment-content
                        = comment.content
            else
                div.comment-none
                    i.fa.fa-hand-o-down
                    | 暂无评论，快来评论吧                        
    form.post-comment-form(action="/posts/comment/"+post.slug,method="post",enctype="application/x-www-form-urlencoded")
        div.form-group
            div.title
                label(for="content") 添加评论
            br
            textarea.form-control(type="text",name="text",placeholder="请输入评论")
        button.btn.btn-primary 评论
